:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0087a7;
    --gris: #757575;
    font-family: "Krub", serif;
}

html{
    font-size: 62.5%;
    font-family: krub, Arial, Helvetica, sans-serif;
/* Hack para modelo de caja */
    box-sizing: border-box;
}

*, *::before, *::after{
/*  Para modelo de caja*/
    box-sizing: inherit;
}

/* Tipografica */
h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

body{
    font-size: 16px;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}

.navegacion-principal{
    background-color: var(--secundario);
}

.contenedor{
    max-width: 120rem;
    /*margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    */
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal a{
    background-color: var(--secundario);
    color: var(--blanco);
    /*quitar subrayado*/
    text-decoration: none;
    padding: 1rem;
}

.navegacion-principal{
    /*padding: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content para filas y
    aling-items para columnas */
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
}

/* Si al menos tien 768 px (tablet)*/
@media(min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    } 
}

/* el hover es para decirle que es una subclase a seleccionar*/
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}


.hero{
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    /* Cover cubre la imagen con tod el tamaño posible */
    background-size: cover;
    height: 450px; 
    position: relative;
}

.contenido-hero{
    position:   absolute;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    /*Alinear vertical y horizontal */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero p,
.contenido-hero h2{
    color: var(--blanco);

}

.ubicacin{
    display: flex;
    align-items: flex-end;
}

.boton{
/* Color de texto */
    color: var(--blanco); 
/* Color de fondo */
    background-color: var(--secundario);
/* Espacio en el boton  righ, left*/
    padding: 1rem 3rem;
/* Poner margen slo arriba */
    margin-top: 3rem;
/* Tamano de letra */
    font-size: 2rem;
/* quitar subrayado */
    text-decoration: none;
/* Mayuscula */
    text-transform: uppercase;
/* Negritas */
    font-weight: bold;
/* Curvas en los bordes */
    border-radius: 0.5rem;
/* Ancho del boton */
    width: 90%;
/* Alinear el texto del boton */
    text-align: center;
}

@media(min-width: 768px) {
    .boton{
        width: auto;
    }
 
}