:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0087a7;
    --gris: #757575;
    font-family: "Krub", serif;
}

html{
    font-size: 62.5%;
    font-family: krub, Arial, Helvetica, sans-serif;
/* Hack para modelo de caja */
    box-sizing: border-box;
}

*, *::before, *::after{
/*  Para modelo de caja*/
    box-sizing: inherit;
}

/* Tipografica */
h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

body{
    font-size: 16px;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}

.navegacion-principal{
    background-color: var(--secundario);
}

.contenedor{
    max-width: 120rem;
    /*margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    */
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal a{
    background-color: var(--secundario);
    color: var(--blanco);
    /*quitar subrayado*/
    text-decoration: none;
    padding: 1rem;
}

.navegacion-principal{
    /*padding: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content para filas y
    aling-items para columnas */
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
}

/* Si al menos tien 768 px (tablet)*/
@media(min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    } 
}

/* el hover es para decirle que es una subclase a seleccionar*/
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}


.hero{
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    /* Cover cubre la imagen con tod el tamaño posible */
    background-size: cover;
    height: 450px; 
    position: relative;
}

.contenido-hero{
    position:   absolute;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    /*Alinear vertical y horizontal */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero p,
.contenido-hero h2{
    color: var(--blanco);

}

.ubicacin{
    display: flex;
    align-items: flex-end;
}

.boton{
/* Color de texto */
    color: var(--blanco); 
/* Color de fondo */
    background-color: var(--secundario);
/* Espacio en el boton  righ, left*/
    padding: 1rem 3rem;
/* Poner margen slo arriba */
    margin-top: 3rem;
/* Tamano de letra */
    font-size: 2rem;
/* quitar subrayado */
    text-decoration: none;
/* Mayuscula */
    text-transform: uppercase;
/* Negritas */
    font-weight: bold;
/* Curvas en los bordes */
    border-radius: 0.5rem;
/* Ancho del boton */
    width: 90%;
/* Alinear el texto del boton */
    text-align: center;
/* Quitar el border ; */
    border: none;
}

.boton:hover{
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton{
        width: auto;
    } 
}
/*Mis servicios*/
@media (min-width: 768px) {
    .servicios{
        display:grid;
        /*Define el área de las columnas*/
        /*grid-template-columns: 1fr 1fr 1fr; por fracción*/
        /*grid-template-columns: 33.33% 33.33% 33.33% por Porcentaje  ;*/
        grid-template-columns: repeat(3, 1fr);
    } 
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3{
    color: var(--secundario);
    font-weight: normal; 
}

.servicio p{
    /*interlineado*/
    line-height: 2;
    text-align: center;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Contacto */
.formulario{
    background: var(--gris);
/* Es como ahorrar media querris */
    width: min(60rem, 100%); 
    /* Si tengo un smartphone con 488px de ancho, ¿que valor tomara? */
    /* Tomara el 100% porque 60rem(960px) son mas grandes que la pantalla  */
    margin: 0 auto;
/*  Padding sirve para dar espacios por dentro*/
    padding: 2rem;
/* Borde circular */
    border-radius: 1rem;
    
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8 rem;
    margin-bottom: 2 rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primario);
}


.contenedor-campos{

}

.campo{
    margin-bottom: 1rem;

}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
/* Tomara el espacio disponible */
    display: block;
}

.input text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;

}

.campo textarea{
    height: 20rem;
}

/* Utilidades */
.w-sm-100{
    width: 100%;
}

@media(min-width: 768px) {
    .w-sm-100{
        width: auto;
    }
}

.flex{
    display: flex;
}

.alinear-derecha{
    justify-content: flex-end;
}

/* Acomodar campos */
@media(min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        /* Darle espacio a cada fila */
        grid-template-rows: auto auto 20rem;
        .campo:nth-child(3),
        .campo:nth-child(4){
        /* Ve a la comlumna 1 a la 3 */
            grid-column: 1/3;
        }
    }
}

.footer{
    text-align: center;
}